PORT=3001

NSQ_NSQD_ADDRESS=127.0.0.1:4150
NSQ_LOOKUPD_ADDRESS=127.0.0.1:4161

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SOCKET_IO_PORT=3002
SOCKET_IO_CORS_ORIGIN=*

BACKEND_API_BASE_URL=http://127.0.0.1:8080/api/v1
BACKEND_API_TIMEOUT=10000
BACKEND_API_INTERNAL_TOKEN=
PRINTER_CONFIG_SYNC_INTERVAL=60000

PRINT_RETRY_INTERVAL=30000
PRINT_MAX_RETRIES=5

LOG_LEVEL=info
